header .nav-top {
    background-color: var(--colorsecundario);
    padding: 1.25em 0rem;

}

header .nav-top .container {
    display: flex;
    justify-content: space-around;

    & span {
        display: none;
    }

    & i {
        color: var(--colorprincipal);
        font-size: 140%;

    }
}

header nav .container {
    display: flex;
    flex-wrap: wrap;
}

header nav figure a {
    display: block;
    max-width: 6.25rem;
}

header figure {
    width: calc(100% - 1.875rem);
    padding: 1.25rem 0;
}

header .hamburguesa {
    cursor: pointer;
    padding: 1.25rem 0;
    width: 1.875rem;

}

header .hamburguesa div {
    border-top: 2px solid #aaa;
    margin-bottom: 0.625rem;

}

header .menu {
    width: 100%;
}

header .menu a {
    display: block;
    width: 100%;
    text-decoration: none;
    padding: 1.25rem;
    text-align: center;
    border-bottom: 1px solid #aaa;
    color: #aaa;
}

header .menu li:last-child a {
    border-bottom: 0;
}




































@media(min-width: 48rem) {
    header .nav-top .container {
        justify-content: space-around;

        & span {
            display: inline;

        }

        & a {
            color: white;
            text-decoration: none;
            font-size: 110%;
        }

    }

}

@media(min-width: 62.75rem) {
    header .hamburguesa {
        display: none;
    }

    header nav .container {
        flex-wrap: nowrap;
    }

    header .menu {
        display: flex;
        padding: 0.5rem 0;
        justify-content: end;
    }

    header .menu a {
        border: 0px;
        padding: 1.25rem 0rem 1.25rem 2.5rem;
    }
}